

.info-section{
display:flex;
justify-content:space-between;
padding:0px 150px
}

.posts{
flex:0.9;
}

.businesses{
flex:0.9;
}

.contacts{
flex:0.9;
}
.post{
box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
margin-right:20px;
padding:10px;
border-radius:10px;
margin-bottom:15px;
}

.h-h{
font-weight:bold;
}

.business{
box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
margin-right:20px;
padding:10px;
border-radius:10px;
margin-bottom:15px;
}

.p-image{
width:40px;
height:40px;
}

.u-name{
padding-left:10px;
font-weight:bold;
font-size:20px;
}

.user{
display:flex;
align-items:center;
}

.p-title{
font-size:18px;
font-weight:bold;
}

.p-desc{
font-size:18px;
}

.p-date{
font-style:italic;
}

.b-section{
padding-left:150px;
margin:20px 0px;
}